body, html{
  background-color: #353535;

  p{
      font-family: Roboto;
      font-size: 30px;
      font-size: 3.5vw;
  }

  .TestContainer{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
  }

  .test-effect{
    position: absolute;
    top: inherit;
    /* top: 100%; */
    height: 100%;
    width: 100%;
    border-width: 10px;
    border-color: blueviolet;
    background-color: aqua;
    /* animation-duration: 1s; */
    /* animation: test-anim 1s forwards; */
    animation-name: test-anim-2;
    animation-duration: 1s;
  }

  @keyframes test-anim {
    0%{
      top: 100%;
      height: 100%;
    }
    100%{
      top: 0%;
      height: 0%;
    }
  }

  @keyframes test-anim-2 {
    0%{
      background-color: aqua;
    }
    100%{
      background-color: red;
    }
  }

}