body, html{
    background-color: #353535;

    p{
        font-family: Roboto;
        font-size: 30px;
        font-size: 3.5vw;
    }

    .logo{
        background: image-set(url("./assets/vector/dna.svg"));
        
    }

    .CoolProductCard{
        border-radius: 20px;
        width: 300px;
        height: 400px;
        box-shadow: 5px 10px 20px #888888;
        position: relative;
        top: 0px;
        transition: top ease-out 0.1s;
    }
    .CoolProductCard:hover{
        top: -10px;
        /* border-radius: 0px; */
        /* margin-top: -10px; */
        /* background-color: blue; */
    }

    .CoolEffectsContainer{
        position: absolute;
        top: inherit;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .CoolSwipeEffect{
        /* -webkit-animation: CoolHover 600ms 100ms ease-out forwards; */
        /* transform-origin: bottom left;*/
        /* transform: skewY(22deg); */

        height: 10%;
        pointer-events: none;
        position: absolute;
        /* height: 100%; */
        width: 100%;
        /* top: inherit; */
        /* top: -10%; */
        bottom: 0%;
        /* bottom: ; */
        /* top:0px; */
        top: 50%;
        /*are comments really transmitted?*/
        transition: height ease-out 1s, top ease-out 1s 0.1s;
        animation-play-state: initial;
        /* top:100px; */
        /* animation: move 1s ease forwards; */
        /* animation: UGHANIM linear 0.3s;
        animation-iteration-count: 11; */
    }
    /* @keyframes UGHANIM{
        0% {
            top: 50%;
            opacity: 0;
        }
        100% {
            top: -10%;
            opacity: 1;
        }
    } */
    .CoolSwipeEffect.Initial{
        top: 100%;
        height: 0%;
        /* bottom: 100%; */
    }


    /* @-webkit-keyframes CoolHover { */
        /* 100% {
            height: 100%;
        }
        
    } */
    /* @keyframes move{
        to{
            /* height: 100%; */
            /*wow the comment just splits thanks*/
            /*transform: translateY(100px);
        }
    }
    */
}