body, html{
    background-color: #353535;

    p{
        font-family: Roboto;
        font-size: 30px;
        font-size: 3.5vw;
    }

    .logo{
        background: image-set(url("./assets/vector/dna.svg"));
        
    }

    .CoolProductCard{
        border-radius: 20px;
        width: 300px;
        height: 400px;
        box-shadow: 5px 10px 20px #888888;
        position: relative;
        top: 0px;
        transition: top ease-out 0.1s;
    }
    .CoolProductCard:hover{
        top: -10px;
        /* border-radius: 0px; */
        /* margin-top: -10px; */
        /* background-color: blue; */
    }

    .CoolEffectsContainer{
        position: absolute;
        top: inherit;
        height: 100%;
        width: 100%;
    }

    .CoolSwipeEffect{
        /* transform-origin: bottom left;*/
        /* transform: skewY(22deg); */

        height: 100%;
        pointer-events: none;
        position: absolute;
        /* height: 100%; */
        width: 100%;
        top: inherit;
        /* top:0px; */
        /*are comments really transmitted?*/
        transition: height ease-out 1s;
        /* top:100px; */
        /* animation: move 1s ease forwards; */
    }
    /* @keyframes move{
        to{
            /* height: 100%; */
            /*wow the comment just splits thanks*/
            /*transform: translateY(100px);
        }
    }
    */
}